<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">Qusetion</h4>
        <p class="card-text">Qusetion Detail</p>
        <p>
            <a href="#" class="mr-2">Rafsan</a>
            <a href="#" class="mr-2">5 Answers</a>
            <a href="#" class="mr-2">10 Comments</a>
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">Qusetion</h4>
        <p class="card-text">Qusetion Detail</p>
        <p>
            <a href="#" class="mr-2">Rafsan</a>
            <a href="#" class="mr-2">5 Answers</a>
            <a href="#" class="mr-2">10 Comments</a>
        </p>
    </div>
</div>

</div>












